/* General Reset and Styling */
body {
    background: url('https://www.teahub.io/photos/full/41-419298_background-image-for-restaurant-website.jpg') no-repeat center center/cover;
    color: #fff;
    text-align: center;
    margin: 0;
    padding: 0;
}

nav {
    width: 100%;
    display: flex;
    justify-content: space-around;
    background: rgba(0, 0, 0, 0.7);
    padding: 1rem 0;
    position: fixed;
    top: 0;
    z-index: 1000;
}

nav a {
    color: #fff;
    text-decoration: none;
    font-size: 1.2rem;
}

nav a:hover {
    color: #5d5d63;
    transition: 200ms;
}

.content {
    position: relative;
    color: #eee;
    background: rgba(0, 0, 0, 0.7);
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    border-radius: 8px;
    width: 60%;
    left: 50%;
    right: 50%;
    transform: translate(-50%, -50%); /* ปรับให้ตำแหน่งอยู่กลางแบบสมบูรณ์ */
    margin-top: 325px; /* เลื่อนเนื้อหาลงจาก nav */
    padding: 10px;
    text-align: center;
}

.about-title {
    font-size: 2.5rem;
    font-weight: bold;
    margin-bottom: 1rem;
}

.about-description {
    font-size: 1.2rem;
    line-height: 1.6;
    max-width: 800px;
    margin: 0 auto;
    text-align: left;
}

.name{
    color: #eee;
    background: rgba(0, 0, 0, 0.7);
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    border-radius: 8px;
}
.name h1 {
    text-align: center;
    margin-bottom: 1rem;
}

.name p {
    text-align: center;
}
